@media screen and (max-width: 400px){



    /* navbar responsive start here  */

    .nav-container{

        flex-direction: column;
     }

  
    .nav-container-title{
   
     flex-direction: column;
     width: 100%; 
     
       
    }

    .nav-container-title a{
        margin: 10px auto;
    }

    .nav-container-title, .nav-login {
   
        width: 100%;
      
       
    }

    .nav-login{
        text-align: center;
    }

     /* navbar responsive end here  */
    
     .banner-container{
        flex-direction: column;

        
      }
      .banner-text h1{
        font-size: 20px; 
        width: 300px;
        
        
      
        
      }

      .banner-text{
        margin-bottom:20px ;



      }


      /* card section respose strat here */
      .grid-container {
        grid-template-columns: 1fr;
      }
    

      .grid-container {
        grid-template-columns: 1fr;
      }


      .discount-container{
        flex-direction: column;
    }
    .discount-img,.discount-text{
        width: 100%;
    }
       

     
    
    
     
    

      
     


}