@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');



*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.nav-container{

     
    border: 1px solid red;
    display: flex;


}
.nav-container-logo{
    display: flex;
    border: 1px solid green;
    width: 50%;
}

.nav-container-logo img{
    width: 50px;
    object-fit: cover;

}
.nav-container-logo{
    font-weight: 700;
    font-size: 20px;
}

.logo-tittle{
    color: #e893cf;
}
.nav-container-title{
    border: 1px solid yellow;
    width: 50%;
}